{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset password Completed !!{% endblock title %}
{% block main-content %}
<div class="container ">
    <div class="row my-3">

            <h3>Password Change Sucessfully !!! </h3>
            <hr>
            <div>
                <iframe src="http://giphy.com/embed/ibo1le3mQqHE3PQTtk" whidth="200" height="200" frameBoder="0" class="giphy-embed" allowFullSecreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}