{% extends "app/base.html" %} 
{% load static %}
{% block title %}Reset Password confirm{% endblock title %}
{% block main-content %}
   <div class="container" >
      <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
        <h3>Password Confirm</h3>
        <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small><br>
            {% endfor %}
            <input type="submit" class="btn btn-primary mt-4" value="submit"><br>
        
            {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{err}}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock main-content %}